* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-cont,
.login-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 7px #4b4a4a;
  padding-bottom: 1rem;
  border-radius: 4px;
}

.signup-header,
.login-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

#logo {
  width: 56%;
  height: 3rem;
}

.signup-cont h1,
.login-cont h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(28, 214, 28);
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  width: 80%;
  height: 2.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0 0.5rem;
  font-size: 1.2rem;
}

.signup-btn,
.login-btn {
  padding: 0.7rem 1.5rem;
  background-color: rgb(28, 214, 28);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin-left: 0.5rem;
}

.footer {
  margin: 1rem;
  color: blue;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .signup-cont,
  .login-cont {
    width: 35%;
  }

  #logo {
    height: 5rem;
  }

  input {
    height: 3rem;
  }
}
